@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: medium;
    color: white;
}
h1, h2, h3 {
    margin: 0;
}
.main-header {
    width: 100%;
    height: 200px;
    background: #3f494e
}
.name-logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.main-name {
    margin: 10px;
}
.name-logo div {

}