@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: white;
}
h1, h2, h3 {
    margin: 0;
}
.main-header {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.main-name {
    position: relative;
    margin: 20px 10px;
    font-size: large;
}
.main-name::after {
    content: '';
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 1px;
    bottom: -12px;
}
.main-logo img {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.main-contacts {
    margin: 10px 10px;
    display: block;
    text-decoration: none;
    color: unset;
}

