@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: white;
}
body {
    background: rgba(0, 0, 0, 0.6);
}
h1, h2, h3 {
    margin: 0;
}
.main-header {
    width: 100%;
    position: relative;
    background: unset;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.main-header::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: white;
    bottom: 0;
    left: 10px;
    margin: 0 auto;
}
.main-ovf {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("./main-photo.webp") 50%/cover no-repeat;
    opacity: 0.2;
}
.main-name {
    position: relative;
    margin: 20px 10px;
    font-size: x-large;
}
.main-logo img {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.main-contacts {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: unset;
}
.main-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-nav::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: white;
    bottom: 0;
    left: 10px;
    margin: 0 auto;
}
.nav-item {
    /*border: 1px solid white;*/
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
}

